footer{
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 20px;
  position:absolute;
  top: 1250px;
  
}
body{
  background: linear-gradient(0deg, #111112 0%, #111112 100%);
}
  h1{

  text-align: center;
  padding: 10px;
  color: white;
  font-size: 120px;
  position: relative;
  top: -50px;
  }
title1{
  color: #FFF;
  position: absolute;
  font-family: Inter;
  font-size: 25px;
  top: 246px;
  right: 345px;
  left: 51px;
  bottom: 1390px;
  

}
div1{
  
  position: absolute;
  top: 587px;
  right: 350px;
  left: 350px;
  bottom: 1076px;
  text-align: center;
  padding: 10px;
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 
}
.icon_minecraft{
  width: 190px;
  height: 190px;
  position:absolute;
  top: 679px;
  right: 788px;
  left: 48px;
  bottom: 838px;
  border-radius: 27px;
  background: #4A8923;

}
.icon_unity{
  width: 190px;
  height: 190px;
  position:absolute;
  top: 679px;
  right: 543px;
  left: 293px;
  bottom: 838px;
  border-radius: 27px;
  background: rgba(55, 127, 192, 1);
}
.icon_java{
  width: 190px;
  height: 190px;
  position:absolute;
  top: 679px;
  right: 298px;
  left: 538px;
  bottom: 838px;
  border-radius: 27px;
  background: rgba(206, 116, 52, 1);
}
.icon_1{
  width: 190px;
  height: 190px;
  position:absolute;
  top: 679px;
  right: 53px;
  left: 783px;
  bottom: 838px;
  border-radius: 27px;
  background: #BD3232;
}


 
